@media screen and (min-width: 320px) {

  .poet-page-containter {
    padding-top: 18vw !important;
    padding-bottom: 8vw !important;
  }

  .poet-page-wrapper {
    width: 90% !important;
    padding: 3vw 3vw !important;
  }

  .poet-page-works-container {
    height: 400px;
  }
  .poet-page-works-title {
    font-size: 6.5vw !important;
  }

  .poet-page-video-button {
    width: 80%;
    height: 20vw;
    margin: 10vw auto;
    border-radius: 3vw;
    box-shadow: 0 0 1vw 0 #303030;
    font-size: 8vw;
  }

  .poet-page-gallery-title {
    margin-top: 10vw !important;
    margin-bottom: 5vw !important;
    font-size: 6.5vw !important;
  }

  
  .image-gallery {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .poet-page-containter {
    padding-top: 14vw !important;
  }

  .poet-page-works-container {
    height: 430px;
  }

  .poet-page-bio-title,
  .poet-page-works-title,
  .poet-page-video-button,
  .poet-page-gallery-title {
    font-size: 35px !important;
  }
}

@media screen and (min-width: 600px) {
  .poet-page-containter {
    padding-top: 12vw !important;
  }
}

@media screen and (min-width: 700px) {
  .poet-page-containter {
    padding-top: 11vw !important;
  }

  .image-gallery {
    width: 90% !important;
  }

  .image-gallery-thumbnail {
    width: 18% !important;
  }
}

@media screen and (min-width: 1000px) {

  .poet-page-containter {
    padding-top: 8vw !important;
    padding-bottom: 5vw !important;
  }

  .poet-page-wrapper {
    width: 93% !important;
    padding: 1vw 2vw !important;
  }

  .poet-page-video-button {
    width: 80%;
    height: 20vw;
    margin: 10vw auto;
    border-radius: 3vw;
    box-shadow: 0 0 1vw 0 #303030;
    font-size: 8vw;
  }

  .poet-page-gallery-title {
    margin-top: 10vw !important;
    margin-bottom: 5vw !important;
    font-size: 6.5vw !important;
  }

  .poet-page-bio-title,
  .poet-page-works-title,
  .poet-page-video-button,
  .poet-page-gallery-title {
    font-size: 40px !important;
  }

  .yandex-map {
    width: 80% !important;
  }

  .image-gallery {
    width: 80% !important;
  }

  .image-gallery-thumbnail {
    width: 18% !important;
  }
}

@media screen and (min-width: 1500px) {
  .poet-page-works-container {
    height: 500px;
  }
}