$laptopScreen: 1200px;
$tabletScreen: 760px;

@media screen and (min-width: $laptopScreen) {
  .MuiInputBase-root.nav-bar__language-picker {
    font-size: 1.25vw;
  }
}

@media screen and (max-width: $laptopScreen) {
  .MuiInputBase-root.nav-bar__language-picker {
    font-size: 2.1vw;
  }
}

@media screen and (max-width: $tabletScreen) {
  .MuiInputBase-root.nav-bar__language-picker {
    font-size: 2.5vw;
  }
}
