@media screen and (max-width: 1200px) {
  .developers-list-container__deveolpers-list-header {
    width: 95%;
    font-size: 35px !important;
  }
}

@media screen and (max-width: 1000px) {
  .developers-list-container {
    height: 50vw !important;
  }
}

@media screen and (max-width: 800px) {
  .developers-list-container {
    height: 55vw !important;
  }
}

@media screen and (max-width: 768px) {
  .developers-list-container__deveolpers-list-header {
    width: 90%;
    font-size: 30px !important;
  }
}

@media screen and (max-width: 700px) {
  .developers-list-container {
    height: 65vw !important;
  }
}

@media screen and (max-width: 600px) {
  .developers-list-container {
    height: 120vw !important;
  }
  .developers-list-container__deveolpers-list-header {
    height: 20% !important;
    font-size: 25px !important;
  }

  .developers-list-container__deveolpers-list {
    height: 80% !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
  }
}

@media screen and (max-width: 500px) {
  .developers-list-container {
    height: 150vw !important;
  }

  .developers-list-container__deveolpers-list-header {
    height: 15% !important;
    font-size: 20px !important;
  }

  .developers-list-container__deveolpers-list {
    height: 85% !important;
  }
}

@media screen and (max-width: 400px) {
  .developers-list-container {
    height: 350vw !important;
  }
  .developers-list-container__deveolpers-list-header {
    height: 10% !important;
  }

  .developers-list-container__deveolpers-list {
    height: 90% !important;
  }
}
