$laptopScreen: 1200px;
$tabletScreen: 760px;

@media screen and (min-width: 1500px) {
  .nav-bar {
    height: 3.5vw;
  }

  .blue-flower-logo {
    width: 2.5vw;
  }

  .nav-bar__nav-link a {
    font-size: 1vw;
  }

    .MuiInputBase-root.nav-bar__language-picker {
    height: 2.5vw;
    font-size: 1vw;
  }
}

@media screen and (max-width: 1500px) {
  .nav-bar {
    height: 3.8vw;
  }

  .blue-flower-logo {
    width: 2.8vw;
  }

  .nav-bar__nav-link a {
    font-size: 1.1vw;
  }

    .MuiInputBase-root.nav-bar__language-picker {
    height: 2.8vw;
    font-size: 1.1vw;
  }
}

@media screen and (max-width: 1300px) {
  .nav-bar {
    height: 4vw;
  }

  .blue-flower-logo {
    width: 2.8vw;
  }

  .nav-bar__nav-link a {
    font-size: 1.3vw;
  }

    .MuiInputBase-root.nav-bar__language-picker {
    height: 3vw;
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 1200px) {
  .nav-bar {
    height: 4.5vw;
  }

  .controls-bar {
    width: 60vw;
  }

  .nav-bar__nav-link {
    flex-grow: 1;
  }

  .blue-flower-logo {
    width: 3vw;
  }

  .nav-bar__nav-link a {
    font-size: 1.5vw;
  }

    .MuiInputBase-root.nav-bar__language-picker {
    height: 3.5vw;
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 1000px) {
  .nav-bar {
    height: 5vw;
  }

  .controls-bar {
    width: 60vw;
  }

  .blue-flower-logo {
    width: 3.5vw;
  }

  .nav-bar__nav-link a {
    font-size: 1.7vw;
  }

  .MuiInputBase-root.nav-bar__language-picker {
    height: 3.5vw;
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 900px) {
  .nav-bar {
    height: 6vw;
  }

  .blue-flower-logo {
    width: 3.8vw;
  }

  .nav-bar__nav-link a {
    font-size: 1.8vw;
  }

  .MuiInputBase-root.nav-bar__language-picker {
    height: 3.7vw;
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 760px) {
  .nav-bar {
    height: 7vw;
  }

  .controls-bar {
    width: 65vw;
  }

  .blue-flower-logo {
    width: 4vw;
  }

  .nav-bar__nav-link {
    width: 100%;
  }

  .nav-bar__nav-link a {
    font-size: 2vw;
  }

  .MuiInputBase-root.nav-bar__language-picker {
    height: 4vw;
    font-size: 2vw;
  }
}

@media screen and (max-width: 700px) {
  .nav-bar {
    height: 7.5vw;
  }

  .blue-flower-logo {
    width: 5vw;
  }

  .nav-bar__nav-link a {
    font-size: 2.5vw;
  }

  .MuiInputBase-root.nav-bar__language-picker {
    height: 5vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    height: 9vw;
  }
}

@media screen and (max-width: 500px) {
  .nav-bar {
    height: 10vw;
  }

  .nav-bar__nav-link a {
    font-size: 14px;
  }

  .blue-flower-logo {
    display: none;
  }

  .MuiInputBase-root.nav-bar__language-picker {
    height: 7vw;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .nav-bar {
    height: 11vw;
  }

  .controls-bar {
    width: 58vw;
  }

  .MuiInputBase-root.nav-bar__language-picker {
    height: 8vw;
  }

  .LanguagePicker-languagePicker-5 {
    left: 0vw !important;
  }

  .MuiInputBase-input {
    padding: 6px 5.8vw 7px 2.5vw !important;
  }

  .MuiSelect-icon {
    right: -0.2vw !important;
  }
}

@media screen and (max-width: 320px) {
  .nav-bar {
    height: 13vw;
  }

  .controls-bar {
    width: 56vw;
  }

  .MuiInputBase-root.nav-bar__language-picker {
    height: 10vw;
  }

  .LanguagePicker-languagePicker-5 {
    left: 0vw !important;
  }

  .MuiInputBase-input {
    padding: 6px 15px 7px 6px !important;
  }

  .MuiSelect-icon {
    right: -5px !important;
  }
}
