@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) { 
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .MuiCardActions-root button {
    font-size: 3vw;
  }
}

@media screen and (max-width: 768px) {
  .MuiCardContent-root h4 {
    text-align: center;
    font-size: 3.5vh;
  }
  .MuiCardContent-root h6 {
    text-align: center;
    font-size: 2.5vh;
  }
  .MuiCardContent-root p {
    text-align: center;
    font-size: 2vh;
  }
  
  .MuiCardActions-root button {
    margin: 0 auto;
  } 
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
