@media screen and (max-width: 840px) {
  .AuthorsList-form-377 {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .AuthorsList-form-377 {
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .AuthorsList-form-377 {
    width: 90%;
  }
}