@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1vw;
  span {
    font-family: 'Roboto Condensed', sans-serif;
  }
}

main {
  min-height: (100vh - 4vh);
}

.footer {  
  height: 4vw;
  background: #303030;
  box-shadow: 0 -1px 12px #000000f0;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  p {
    display: block;
    color: #ffffff;
    a {
      text-decoration: none;
      color: #3f50b5;
    }
  }
}

@media screen and (max-width: 1980px) {
  main {
    min-height: (100vh - 10vh);
  }
}

@media screen and (max-width: 1600px) {
  main {
    min-height: (100vh - 6vh);
  }
}

@media screen and (max-width: 1200px) {
  main {
    min-height: (100vh - 7vh);
  } 
  .footer {
    height: 6vh;
    p {
      font-size: 2vh;
    }
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .footer {
    height: 6vh;
    p {
      font-size: 2vh;
    }
  }
}

@media screen and (max-width: 480px) {
  main {
    min-height: (100vh - 6.5vh);
  }  
  .footer {
    height: 4vh;
    p {
      font-size: 1.5vh;
    }
  }
}

@media screen and (max-width: 320px) {
  main {
    min-height: (100vh - 5vh);
  }
}
