@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1vw;
  span {
    font-family: 'Roboto Condensed', sans-serif;
  }
}

main {
  min-height: (100vh - 4vh);
}

.footer {  
  height: 4vw;
  background: #303030;
  box-shadow: 0 -1px 12px #000000f0;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  p {
    display: block;
    color: #ffffff;
    a {
      text-decoration: none;
      color: #3f50b5;
    }
  }
}

.timeline--wrapper .timeline--animate {
  margin: 15px auto;
}

@media screen and (max-width: 1980px) {
  main {
    min-height: (100vh - 10vh);
  }
}

@media screen and (max-width: 1600px) {
  main {
    min-height: (100vh - 6vh);
  }
}

@media screen and (max-width: 1200px) {
  .MuiGrid-justify-xs-center .MuiPaper-rounded {
    padding: 20px;
    width: 90%;
  }
  .bounce-in p {
    font-size: 3vw;
  }
  .footer {
    height: 6vh;
    p {
      font-size: 2vh;
    }
  }
  .MuiPaper-rounded {
    h5 {
      font-size: 5vh;
    }
  }
  main {
    min-height: (100vh - 7vh);
  }
}

@media screen and (max-width: 992px) {
  .MuiGrid-justify-xs-center .MuiPaper-rounded h3 {
    text-align: center;
    font-size: 4.5vw;
  }
  .MuiGrid-justify-xs-center .MuiPaper-rounded h4 {
    text-align: center;
    font-size: 3vw;
  }
  .bounce-in p {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 768px) {
  .MuiGrid-justify-xs-center .MuiPaper-rounded {
    width: 100%;
  }
  .bounce-in p {
    font-size: 4vw;
  }
  .footer {
    height: 6vh;
    p {
      font-size: 2vh;
    }
  }
  .bounce-in P {
    margin-bottom: 10px;
  }
  .MuiPaper-rounded {
    h5 {
      font-size: 3.5vh;
    }
  }
  
}

@media screen and (max-width: 480px) {
  .bounce-in p {
    font-size: 5vw;
  }
  .footer {
    height: 4vh;
    p {
      font-size: 1.5vh;
    }
  }
  .MuiGrid-justify-xs-center {
    justify-content: end;
  }
  .MuiPaper-rounded {
    h5 {
      font-size: 3vh;
    }
  }
  .bounce-in {
    span {
      height: 40px;
      .timeline-item-dateinner {
        height: 40px;
        line-height: 40px;
      }
    }
  }
  main {
    min-height: (100vh - 6.5vh);
  }
}

@media screen and (max-width: 320px) {
  .bounce-in p {
    font-size: 5.5vw;
  }
  main {
    min-height: (100vh - 5vh);
  }
}
